#harp {
  margin: 0 auto;
  text-align: center;
}

.harp-string {
  height: 450px;
  width: 5px;
  margin: 0 9px;
  background-color: gray;
  display: inline-block;
}

#C1, #C2, #C3, #C4 {
  background-color: blue;
}

#G1, #G2, #G3, #G4 {
  background-color: red;
}

.harp-pedal {
	width: 110px;
}

#harp-strings, #harp-pedals {
  display: inline-block;
  vertical-align: top; 
}

#harp-strings {
  margin-right: 60px;
}

.cents {
  width: 3em;
  max-width: 3em;
  display: inline-block;
}